.product-item {
    width: 100%;
    overflow: hidden;

    &:hover {
        cursor: pointer;

        & .image {
            opacity: 0.9;
        }
    }

    .content {
        height: 10%;
        padding: 0.5rem;
        font-size: 80%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;

        .image {
            width: 100%;
            height: 90%;
            margin-bottom: 2rem;
            background-size: cover;
            background-position: center;
        }
    }
}
