.header {
    height: 7rem;
    width: 100%;
    display: flex;
    margin-bottom: 2rem;
    padding: 0 3rem;
    align-items: center;
    justify-content: flex-end;

    &__logo,
    &__icon {
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }

    &__logo-icon {
        width: 4.5rem;
        height: 4.5rem;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;

        .home-icon {
            width: 2.5rem;
            height: 2.5rem;
        }
    }
}
