.header {
    height: 7rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
    padding: 3rem;

    .icon,
    .logo {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }
}
